env:
  global:
    - CC_TEST_REPORTER_ID=a669f9b84dcb893c8df72d85c56658c03e59c523ef619714d37b6523d35698aa
language: elixir
notifications:
  recipients:
    - carlos@carloslage.net
elixir:
  - 1.5
  - 1.6
  - 1.7
  - 1.8
  - 1.9
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - MIX_ENV=dev mix dialyzer
  - MIX_ENV=test mix test
after_script:
  - mix deps.get --only docs
  - MIX_ENV=test mix credo --strict
  - MIX_ENV=test mix coveralls --verbose
  - MIX_ENV=test mix coveralls.json --verbose
  - MIX_ENV=test mix coveralls.travis
  - MIX_ENV=test mix coveralls.post --token  ilbBz5SvaqJqUBZx9KcIcuM8C1D3BCsB8  --branch $TRAVIS_BRANCH --name "TravisCI"
  - ./cc-test-reporter after-build -r "$CC_TEST_REPORTER_ID" -t excoveralls --exit-code $TRAVIS_TEST_RESULT
after_success:
  - mix credo --strict
