language: elixir
env: MIX_ENV=test
notifications:
  recipients:
    - carlos@carloslage.net
elixir:
  - 1.6
script:
  - MIX_ENV=test mix test
after_script:
  - mix deps.get --only docs
  - MIX_ENV=docs mix inch.report
after_success:
  - MIX_ENV=test mix coveralls
  - MIX_ENV=test mix coveralls.post --token  ilbBz5SvaqJqUBZx9KcIcuM8C1D3BCsB8  --branch $TRAVIS_BRANCH --name "TravisCI"